---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title='Error 4O4'>
    <section class='grid grid-cols-1 m-auto text-center'>
        <h1 class='text-3xl'>404</h1>
        <h1>We dont have info about that Pokémon!</h1>
        <small>
            <a href="/" class='text-purple-60 hover:text-purple-600'>Return to home</a>
        </small>
    </section>
</MainLayout>
